@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/MaterialSymbolsOutlined.woff2) format('woff2');
  font-display: block;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: blue; */
  background-repeat: no-repeat;
  background-size: cover;
}
ul, ol {
  list-style: none;
}
::-webkit-scrollbar {
  width: 0;
}

html, html.dark {
  --border-color: #eaeaea;
  --theme-color: green;

  --selected-bg-color: rgba(0, 128, 0, 0.4);
  --el-color-primary: green;
  --el-color-primary-light-3: #95d695;
  --el-color-primary-light-5: #aabeaa;
  --el-border-color: #8d8d8d;
  --el-border-color-hover: #737373;
  --el-fill-color-blank: transparent;
}

:root {
  color-scheme: light dark;
  --page-height: 578px;
  --nav-height: 48px;
  --item-height: 54px;
  --action-bar-height: 42px;
  --divider-color: light-dark(rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0.06));
  --action-panel-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --action-panel-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }
}